@media (max-width: 1599px) {

    .footer .wrapper {
        position: relative;
        justify-content: space-between;
    }

    .footer .nav {
        position: absolute;
        bottom: 0;
        right: 35%;
    }
}

@media (max-width: 1300px) {

    .nav ul {
        width: 100%;
    }

}

@media (max-width: 980px) {

    .header {
        position: fixed;
        width: 100%;
        z-index: 4;
    }

    .header .wrapper {
        justify-content: flex-start;
    }

    .nav {
        display: none;
    }

    .header .figma {
        display: none;
    }

    .hidden-menu {
        display: block;
    }

    .wrapper {
        width: 95%;
    }

    .panda {
        height: 335px;
    }

    .friend-block h2 {
        font-size: 24px;
        margin-bottom: 20px;
    }

    .friend-block p {
        margin-bottom: 30px;
    }

    .friend-block h3 {
        margin-bottom: 30px;
    }

    .friend h2 {
        font-size: 48px;
    }

    .friend h3 {
        text-align: center;
    }

    .wrapper-info h2 {
        font-size: 72px;
    }

    .donate-1 {
        display: none;
    }

    .donate-2 {
        display: none;
    }

    .donate-3 {
        display: none;
    }

    .price-label::after {
        left: 45.5%;
    }

    .slider {
        width: 80%;
    }

    .friend {
        padding: 0px;
    }

    .friend-block {
        padding-bottom: 45px;
    }

    .footer {
        padding-bottom: 15px;
    }

    .logo-footer {
        margin-top: 15px;
        margin-bottom: 30px;
    }

    .social {
        position: absolute;
        right: 0;
        top: 15px;
    }

    .facebook-text {
        display: none;
    }

    .twitter-text {
        display: none;
    }

    .instagram-text {
        display: none;
    }

    .youtube-text {
        display: none;
    }

    .facebook {
        margin-bottom: 20px;
    }

    .twitter {
        margin-bottom: 20px;
    }

    .instagram {
        margin-bottom: 20px;
    }

    .youtube {
        margin-bottom: 20px;
    }

    .donate {
        margin-bottom: 100px;
    }

    .footer .nav {
        left: 0;
    }

    .input-container {
        display: none;
    }

    .footer-block2 {
        justify-content: end;
    }

}

@media (max-width: 600px) {

    .header .wrapper {
        padding: 5px 0px;
    }

    .hidden-menu {
        top: 18px;
        right: 20px;
    }

    .panda {
        height: 187px;
    }

    .friend-block h3 {
        font-size: 24px;
        margin-bottom: 40px;
    }

    .friend h2 {
        font-size: 24px;
        margin-bottom: 10px;
    }

    .friend h3 {
        font-size: 16px;
        margin-bottom: 10px;
    }

    .friend h2 {
        font-size: 40px;
        margin-right: 10px;
    }

    .friend-block p {
        margin-right: 10px;
    }

    .wrapper-info {
        width: 30%;
    }

    .icon-panda {
        margin-left: 10px;
        width: 160px;
        height: 140px;
        background-size: cover;
    }

    .block-panda {
        margin-bottom: 20px;
    }

    .friend-block p {
        margin-bottom: 10px;
        font-size: 14px;
    }

    .input-container {
        display: none;
    }

    .slidecontainer {
        margin-bottom: 70px;
    }

    .price label {
        font-size: 16px;
        margin-top: 32px;
    }

    .footer .wrapper {
        flex-direction: column;
        align-items: center;
    }

    .logo-footer {
        display: none;
    }

    .footer-block1 img {
        display: none;
    }

    .logo-list-1 {
        display: block;
        margin-bottom: 85px;
        position: relative;
    }

    .logo-list-1 h1 {
        text-align: center;
    }

    .logo-list-1 a {
        font-weight: 400;
        font-size: 20px;
        line-height: 120%;
        color: #FFFFFF;
        text-decoration: none;
    }

    .bamboo-footer {
        display: block;
        background-image: url(../../icons/bamboo.svg);
        background-repeat: no-repeat;
        width: 8px;
        height: 21px;
        position: absolute;
        bottom: 0;
        left: 54%;
    }

    .social {
        right: 0;
        left: 0;
        top: 23%;
        flex-direction: initial;
        justify-content: center;
    }

    .donate {
        margin-bottom: 30px;
    }

    .desing {
        margin-bottom: 50px;
    }

    .footer .nav {
        display: block;
        width: 100%;
    }

    .facebook {
        margin-right: 30px;
    }

    .twitter {
        margin-right: 30px;
    }

    .instagram {
        margin-right: 30px;
    }

    .youtube {
        margin-right: 0;
    }

}

@media (max-width: 340px) {

    .price-label::after {
        left: 39.5%;
    }

}