@media (max-width: 1599px) {

    .bamboo-cap {
        width: 455px;
        height: 408px;
    }

    .info {
        width: 454px;
    }

    .block-img img {
        width: 294px;
        height: 294px;
    }

    .footer .wrapper {
        position: relative;
        justify-content: space-between;
    }

    .footer .nav {
        position: absolute;
        bottom: 0;
        right: 35%;
    }
}

@media (max-width: 1385px) {
    .flower {
        display: none;
    }

    .palm {
        width: 150px;
    }

    .flower-2 {
        width: 250px;
    }

    .block-4 {
        display: none;
    }

}

@media (max-width: 1300px) {

    .nav ul {
        width: 100%;
    }

    .block-img img {
        width: 294px;
        height: 294px;
    }

    .bamboo-cap {
        margin-right: 3%;
        width: 455px;
        height: 408px;
        object-fit: cover;
    }

    .wilderness-world h2 {
        margin-bottom: 17px;
    }

    .wilderness-world p {
        width: 97%;
    }

    .wilderness-world h3 {
        margin-bottom: 38px;
    }

    .wilderness-world {
        margin-bottom: 146px;
    }

    .animals-card {
        grid-gap: 147px 30px;
    }

    .arrow-left {
        position: absolute;
        left: 35%;
        top: 34%;
    }

    .arrow-right {
        position: absolute;
        right: 35%;
        top: 34%;
    }

    .aminals-block {
        margin-bottom: 138px;
    }

    .favorite {
        margin-bottom: 143px;
    }

    .wrapper {
        width: 94%;
    }

    .header .wrapper {
        justify-content: left;
        width: 97%;
    }

    .logo-list h1 {
        margin-right: 39px;
        margin-left: 13px;
    }

    .header .figma {
        margin-left: 227px;
        letter-spacing: 0px;
    }

    .panda {
        background-attachment: initial;
        background-size: cover;
        height: 505px;
        margin-bottom: 102px;
    }

    .panda img {
        position: absolute;
        right: 16%;
        top: 0px;
        width: 367px;
    }

    .panda h2 {
        right: 0%;
        top: 47px;
        font-size: 85px;
    }

    .online {
        right: 11.5%;
        top: 405px;
        cursor: pointer;
    }

    .info {
        width: 100%;
    }

    .friend-block {
        padding-top: 30px;
    }

    .friend h2 {
        padding-top: 30px;
        margin-bottom: 18px;
    }

    .friend {
        padding: 0px 48px;
    }

    .friend h3 {
        font-size: 23px;
        margin-bottom: 23px;
    }

    .friend h4 {
        font-size: 14px;
        margin-bottom: 13px;
    }

    .friend h6 {
        font-size: 13px;
        width: 100%;
        margin-bottom: 47px;
    }

    .frend-wrapper {
        margin-bottom: 114px;
    }

    .palm {
        display: none;
    }

    .palm2 {
        display: block;
        position: absolute;
        left: 0px;
        bottom: 0;
    }

    .testimonials h2 {
        margin-top: 45px;
        margin-bottom: 29px;
    }

    .testimonials-block {
        width: 290px;
        padding: 10px;
    }

    .progress-bar {
        width: 43%;
    }

    .wrapper__progress-bar {
        margin-bottom: 20px;
    }

    .flower-3 {
        width: 204px;
    }

    .feedback {
        margin-bottom: 142px;
    }

    .footer .wrapper {
        width: 91%;
    }

    .logo-footer {
        margin-bottom: 65px;
    }

    .footer .nav {
        position: absolute;
        bottom: 3px;
        right: 30%;
        width: 40%;
    }

    .input-email {
        width: 227px;
        margin-right: 10px;
    }

    .submit {
        width: 131px;
    }

    .desing {
        position: absolute;
        bottom: 0;
        right: -32px;
    }

    .desing p {
        margin-bottom: 4px;
    }

}

@media (max-width: 980px) {

    .header {
        position: fixed;
        width: 100%;
        z-index: 4;
        height: 33px;
    }

    .logo-list h1 {
        width: 54px;
        line-height: 30%;
    }

    .logo-list {
        position: absolute;
    }

    .header .logo-list a {
        font-size: 13px;
    }

    .nav-toggle ul {
        position: relative;
        top: 84px;
        left: 4px;
    }

    .bamboo {
        bottom: -4px;
        left: 14%;
    }

    .panda img {
        top: 44px;
        right: 9%;
        width: 237px;
    }

    .header .wrapper {
        justify-content: flex-start;
    }

    .nav {
        display: none;
    }

    .header .figma {
        display: none;
    }

    .hidden-menu {
        display: block;
    }

    .wrapper {
        width: 95%;
    }

    .panda {
        background-attachment: inherit;
        background-size: cover;
        height: 373px;
        margin-bottom: 60px;
    }

    .panda h2 {
        font-size: 54px;
        width: 255px;
        top: 84px;
        right: 0px;
        letter-spacing: 0;
    }

    .online {
        top: 280px;
        left: 6px;
    }

    .wilderness-world .wrapper {
        justify-content: inherit;
        width: 93%;
        position: relative;
    }

    .wilderness-world h2 {
        margin-bottom: 23px;
    }

    .wilderness-world h3 {
        margin-top: 29px;
        margin-bottom: 21px;
    }

    .wilderness-world {
        margin-bottom: 80px;
    }

    .bamboo-cap {
        display: none;
    }

    .flower {
        top: -62px;
        display: block;
        width: 155px;
        right: -21px;
    }

    .animal-wrapper .hidden {
        bottom: -18%;
    }

    .info {
        width: 495px;
    }

    .animals-card {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 139px 30px;
    }

    .block-img img {
        width: 286px;
        height: 286px;
    }

    .block-img {
        width: 99%;
        height: 99%;
    }

    .hidden h2 {
        font-size: 13px;
    }

    .hidden p {
        font-size: 11px;
    }

    .icon-banan {
        bottom: 7px;
    }

    .icon-fish {
        bottom: 7px;
    }

    .animal-wrapper:hover .hidden {
        width: 99%;
    }

    .animal-alligator {
        display: block;
    }

    .arrow-left {
        position: absolute;
        left: 38%;
        top: 35.5%;
    }

    .arrow-right {
        position: absolute;
        right: 38%;
        top: 35.5%;
    }

    .animal-sloth {
        display: none;
    }

    .animal-leopard {
        display: none;
    }

    .animal-penguin {
        display: none;
    }

    .aminals-block {
        margin-bottom: 106px;
    }

    .favorite {
        margin-bottom: 101px;
    }

    .flower-2 {
        width: 181px;
    }

    .palm {
        display: block;
        width: 128px;
    }

    .palm2 {
        display: none;
    }

    .friend {
        padding: 0px;
    }

    .friend h2 {
        font-size: 42px;
        padding-top: 0px;
        margin-bottom: 17px;
    }

    .friend h4 {
        font-size: 16px;
        margin-bottom: 16px;
    }

    .friend h3 {
        font-size: 22px;
        margin-bottom: 20px;
    }

    .friend h6 {
        font-size: 16px;
        margin-bottom: 34px;
    }

    .frend-wrapper {
        justify-content: space-evenly;
        margin-bottom: 87px;
        margin-right: 11px;
    }

    .friend-block {
        padding-bottom: 22px;
    }

    .friend h5 {
        margin-bottom: 20px;
    }

    .arrow-pay {
        display: none;
    }

    .pay-wrapper {
        position: relative;
    }

    .arrow-green {
        display: block;
        position: absolute;
        top: -17px;
        right: -33px;
        z-index: 1;
    }

    .testimonials .wrapper {
        text-align: center;
    }

    .testimonials h2 {
        margin-top: 60px;
    }

    .testimonials-wrapper {
        display: block;
    }

    .user h3 {
        text-align: initial;
    }

    .testimonials-block p {
        text-align: initial;
    }

    .testimonials-block {
        width: 100%;
        height: 108.5px;
        margin-bottom: 15px;
    }

    .wrapper__progress-bar {
        display: none;
    }

    .feedback {
        margin-top: 19px;
        margin-bottom: 80px;
        width: 242px;
    }

    .flower-3 {
        bottom: -10%;
        width: 117px;
    }

    .footer .wrapper {
        width: 93%;
    }

    .footer {
        padding-bottom: 15px;
    }

    .logo-footer {
        margin-top: 13px;
        margin-bottom: 30px;
    }

    .social {
        position: absolute;
        right: -16px;
        top: 12px;
    }

    .facebook-text {
        display: none;
    }

    .twitter-text {
        display: none;
    }

    .instagram-text {
        display: none;
    }

    .youtube-text {
        display: none;
    }

    .facebook {
        margin-bottom: 20px;
    }

    .twitter {
        margin-bottom: 20px;
    }

    .instagram {
        margin-bottom: 20px;
    }

    .youtube {
        margin-bottom: 20px;
    }

    .donate {
        margin-bottom: 100px;
    }

    .footer .nav {
        display: block;
        left: -11px;
        bottom: -14px;
        width: 55%;
    }

    .input-container {
        display: none;
    }

    .footer-block2 {
        justify-content: end;
    }

    .desing {
        bottom: -25px;
        right: -1px;
    }

    .desing p {
        margin-bottom: 8px;
    }

}

@media (max-width: 600px) {

    .header .wrapper {
        padding: 5px 0px;
    }

    .hidden-menu {
        top: 12px;
        right: 9px;
    }

    .logo-list {
        position: absolute;
        left: -3px;
    }

    .logo-list h1 {
        width: 50px;
        line-height: 21%;
        top: 10px;
    }

    .panda {
        height: 221px;
        margin-bottom: 74px;
    }

    .panda img {
        width: 120px;
        height: 120px;
        top: 56px;
    }

    .panda h2 {
        font-size: 28px;
        width: 130px;
        top: 74px;
        right: 2px;
    }

    .online {
        left: 0;
        right: 0;
        top: 239px;
        margin: 0 auto;
    }

    .wilderness-world .wrapper {
        width: 94%;
    }

    .wilderness-world h2 {
        font-size: 24px;
        margin-bottom: 10px;
        margin-top: 30px;
    }

    .wilderness-world {
        position: relative;
    }

    .flower {
        display: none;
    }

    .flower-mob {
        display: block;
        position: absolute;
        right: -9px;
        top: -32px;
    }

    .wilderness-world p {
        width: 100%;
        line-height: 134%;
    }

    .wilderness-world h3 {
        margin-top: 22px;
        margin-bottom: 10px;
    }

    .wilderness-world {
        margin-bottom: 40px;
    }

    .arrow-left {
        display: none;
    }

    .arrow-right {
        display: none;
    }

    .animals-card {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 67px;
    }

    .aminals-block {
        margin-bottom: 56px;
    }

    .animal-wrapper .hidden {
        bottom: -14%;
    }

    .hidden p {
        padding-bottom: 8px;
    }

    .favorite {
        margin-bottom: 60px;
    }

    .palm {
       display: none;
    }

    .palm2 {
        width: 65px;
        display: block;
        left: -8px;
    }

    .flower-2 {
        display: none;
    }

    .flower-2-mob {
        display: block;
        position: absolute;
        right: 0px;
        bottom: 0;
        width: 59px;
    }

    .friend-block {
        padding-top: 22px;
    }

    .friend-block h4 {
        display: none;
    }

    .friend h6 {
        display: none;
    }

    .pay-wrapper p {
        text-align: start;
    }

    .friend {
        padding: 0px 5px;
        text-align: center;
    }

    .friend h2 {
        font-size: 24px;
        padding-top: 18px;
        margin-bottom: 11px;
    }

    .friend h3 {
        font-size: 18px;
    }

    .friend h5 {
        font-size: 24px;
    }

    .frend-wrapper {
        flex-direction: column;
        align-items: center;
        margin-bottom: 18px;
        margin-right: 0px;
    }

    .block-pay {
        margin-right: 0;
    }

    .pay-wrapper {
        margin-bottom: 62px;
    }

    .arrow-wrapper {
        margin-bottom: 15px;
    }

    .favorite-now {
        margin-bottom: 40px;
    }

    .arrow-green {
        transform: rotate(90deg);
        top: 180px;
        right: -45px;
    }

    .flower-3 {
        width: 64px;
        bottom: -7%;
    }

    .testimonials h2 {
        margin-top: 29px;
        font-size: 24px;
        margin-bottom: 16px;
    }

    .feedback {
        margin-top: 19px;
        margin-bottom: 60px;
        width: 242px;
    }

    .footer .wrapper {
        flex-direction: column;
        align-items: center;
    }

    .logo-footer {
        display: none;
    }

    .footer-block1 img {
        display: none;
    }

    .logo-list-1 {
        display: block;
        margin-bottom: 85px;
        margin-top: 7px;
        position: relative;
    }

    .logo-list-1 h1 {
        text-align: center;
    }

    .logo-list-1 a {
        font-weight: 400;
        font-size: 20px;
        line-height: 120%;
        color: #FFFFFF;
        text-decoration: none;
    }

    .bamboo-footer {
        display: block;
        background-image: url(../../icons/bamboo.svg);
        background-repeat: no-repeat;
        width: 8px;
        height: 21px;
        position: absolute;
        bottom: 0;
        left: 54%;
    }

    .social {
        right: 0;
        left: 0;
        top: 24%;
        flex-direction: initial;
        justify-content: center;
    }

    .donate {
        margin-bottom: 110px;
    }

    .desing {
        margin-bottom: 50px;
    }

    .footer .nav {
        display: block;
        width: 100%;
        left: 2px;
        bottom: -17px;
    }

    .facebook {
        margin-right: 30px;
    }

    .twitter {
        margin-right: 30px;
    }

    .instagram {
        margin-right: 30px;
    }

    .youtube {
        margin-right: 0;
    }

}

@media (max-width: 340px) {

    .info {
        width: 95%;
    }

}